@font-face {
    font-family: 'Work-Sans';
    src: url('../Resources/Fonts/WorkSans-Regular.ttf') format('truetype');
    font-weight: 500;
}

@font-face {
    font-family: 'Playfair-Display';
    src: url('../Resources/Fonts/PlayfairDisplay-Regular.ttf') format('truetype');
    font-weight: 400;
}

@font-face {
    font-family: 'Poppins';
    src: url("../Resources/Fonts/Poppins-Regular.ttf") format("truetype");
}

@font-face {
    font-family: 'Montserrat';
    src: url('../Resources/Fonts/Montserrat-Regular.ttf');
}


@font-face {
    font-family: 'Quizlo';
    src: url("../Resources/Fonts/Quizlo.otf");
}

::selection {
    background: #025048;
    color: white;
}

.hero *::selection {
    background: white;
    color: #025048;
}







.hero {

    background-color: #025048;
    display: flex;
    align-items: center;
    color: white;

}



.hero-subtitle {
    font-family: 'Work-Sans';
    font-size: 1.3rem;

}

.hero-title {
    font-family: 'Playfair-Display', serif;
    font-size: 3.5rem;

}

.hero-subtitle2 {
    font-family: 'Playfair-Display', serif;
    font-size: 1.1rem;
}

.hero-image-wrapper {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}


.hero-image {
    animation: sofaEnter 1.5s ease-out forwards,
        floatSofa 6s ease-in-out infinite 1.5s;
    opacity: 0;
}

@keyframes sofaEnter {
    from {
        transform: translateX(500px);
        opacity: 0;
    }

    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes floatSofa {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-50px);
    }

    100% {
        transform: translateY(0);
    }
}




/* .price {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 4px;
} */

.price-currency {
    font-size: 0.85rem;
    margin-top: 4px;
}

.price-main {
    font-weight: 700;
    font-size: 3rem;
}

.price-decimal {
    font-size: 0.9rem;
    margin-top: 4px;
}





.about-section {
    padding: 6rem 2rem;
    background:
    radial-gradient(circle at center, #ffffff 0%, #f4f8f6 40%, #e4f1ec 70%, #d6ebe4 100%),
    linear-gradient(180deg, #ffffff 0%, #e9f3ef 100%);

    text-align: center;
}

.about-content {
    max-width: 700px;
    margin: 0 auto 3rem;
}

.about-content h2 {
    font-family: "Playfair Display", serif;
    font-size: 2.8rem;
    color: #2b2b2b;
    margin-bottom: 1rem;
}

.about-content p {
    font-family: "Poppins", sans-serif;
    font-size: 1.05rem;
    line-height: 1.8;
    color: #6b6b6b;
}


.about-video {
    width: 75%;
    max-width: 900px;
    border-radius: 22px;
    display: block;
    margin: 0 auto;
    object-fit: cover;

    box-shadow: 0 40px 80px rgba(2, 80, 72, 0.25);
}





.usp-bar {
    background: #f5f7fa;
    padding: 5rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    justify-content: center;
    align-items: center;
    font-family: 'Work-Sans';
}

.usp-icon {
    color: #012E29;



}

.usp-title {
    font-weight: 600;
    font-size: 1.05rem;
    color: #012E29;
}

.usp-text {
    font-size: .9rem;
    color: #6c757d;
}

.usp-item {
    display: flex;
    align-items: center;
    gap: 1rem;
    justify-content: center;
    align-items: center;


}

.usp-item i {
    color: #012E29;
    display: inline;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1.5rem 0;
}











.search-bar {
    font-family: 'Poppins';
    margin: 5rem auto;
    text-align: center;

    background: rgba(255, 255, 255, 0.7);
    backdrop-filter: blur(12px);
    border-radius: 24px;


    padding: 3rem 2rem;

}


.search-bar input {
    width: 100%;
    max-width: 75%;
    padding: 16px 28px;
    margin: 1.5rem auto;
    display: block;

    border-radius: 60px;
    border: 2px solid transparent;

    background:
        linear-gradient(white, white) padding-box,
        linear-gradient(135deg, #025048, #1E7F73) border-box;

    font-size: 1.1rem;
    outline: none;

    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.08);
    transition: all 0.3s ease;
}

.search-bar input:focus {
    transform: scale(1.03);
    box-shadow: 0 15px 40px rgba(0, 0, 0, 0.15);
}


.search-bar input::placeholder {
    color: #888;
    font-style: italic;
    letter-spacing: 0.5px;
}





.search-headline {
    font-size: 2.5rem;

}

#typing {
    color: #025048;
}

#typing::after {
    content: "|";
    animation: blink 1s infinite;
}

@keyframes blink {
    50% {
        opacity: 0;
    }
}






.testimonial {
    background-color: #f0f5f1;
    padding: 5rem 4rem;
}

.t-headline {
    font-family: 'Work-Sans';
    font-size: 1rem;
    text-transform: uppercase;
    color: #025048;
    font-weight: 600;
    letter-spacing: 0.3rem;
}

.t-subtitle {
    font-family: 'PlayFairDisplay';
    font-size: 3rem;
    color: #025048;
}

.rating-stars {
    display: inline-flex;
    align-items: center;
    gap: 4px;

    flex-wrap: nowrap;
}

.rating-stars i {
    color: #FB8C24;
    font-size: 1rem;
    display: inline-block;
}

.r-div {
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 12px 16px;
    border-radius: 8px;
    width: fit-content;
}

.r-photo {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    object-fit: cover;
}

.r-text {
    display: flex;
    flex-direction: column;
}

.r-name {
    font-weight: 600;
    font-size: 16px;
    color: #025048;
    font-family: 'Montserrat';
}

.r-role {
    font-size: 14px;
    color: #424b4a;
    font-family: 'Work-Sans';
}

.card-text {
    color: #424b4a;
}





.prds {

    margin: 3rem auto;

}

.card {
    border: none;
}

.prd-card-title {
    font-family: 'Montserrat';
}

.prd-card-text {
    font-family: 'Work-Sans';
}




















/* Fady's Newsetller*/



#newsletter {
    margin: 250px 0;
}

.parallax-container {
    position: relative;
    min-height: 500px;
    display: flex;
    align-items: center;
    background-image: url("../Resources/Images/3d-room-decor-with-furniture-minimalist-beige-tones.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow: hidden;
}

.parallax-container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.parallax-container .container {
    position: relative;
    z-index: 2;
}

/* .newsletter-card {
  background: rgba(255, 255, 255, 0.95);
  padding: 2.5rem;
  border-radius: 15px;
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.3);
  text-align: center;
  padding: 20px;
  border-radius: 15px;
} */

.newsletter-card {
    background: rgba(255, 255, 255, 0.95);
    padding: 2.5rem;
    border-radius: 15px;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
    text-align: center;
    
}

.input-group {
    background-color: #f8f9fa;
    border: 1px solid #025048;
    border-radius: 8px;
    overflow: hidden;
    
    

}

.input-group input {
    background: transparent;
    border: none;
    font-size: 0.85rem;
    font-family: 'Poppins';
    color: black !important;

    height: 36px;        
    line-height: 36px;   
    padding: 0 12px;   
}





.input-group input:focus {
    background: transparent;
    color: white;
    box-shadow: none;
}


.btn-subscribe {
    background-color: #025048;
    color: white;
    border: none;
    padding: 8px 20px;
    font-weight: 600;
    font-size: 12px;
    transition: 0.3s;
}

.btn-subscribe:hover {
    background-color: white;
    color: #025048;
    border-left: 1px solid #025048 ;
}

.newsletter-note {
    font-size: 10px;
    opacity: 0.5;
    margin-top: 15px;
    margin-bottom: 0;
    line-height: 1.5;
}

.message {
    visibility: hidden;
    color: #C96A5A;

}

@media (max-width: 768px) {
    .parallax-container {
        background-attachment: scroll;
        min-height: 400px;
    }

    .newsletter-card {
        padding: 1.5rem;
    }
}










/* Hamdy's Contact Us*/

.contact-us {

    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-style: normal;
    min-height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 20px;

}

h1,
h2,
h3,
.btn-send {
    font-family: "Playfair Display", serif;
}


.contact-container {
    max-width: 1000px;
    margin: 50px auto;
    background: #ffffff;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 10px 30px rgba(194, 36, 36, 0.1);

}

.form-label,
.text-muted,
.info-item span {
    font-family: 'Poppins', sans-serif;
}

.contact-info {
    background-color: #117262;
    color: #fff;
    padding: 40px;
    position: relative;
}

.contact-info h2 {
    font-weight: 500;
    margin-bottom: 10px;
}

.contact-info p {
    color: #fff;
    margin-bottom: 40px;
}

.info-item {
    margin-bottom: 25px;
    display: flex;
    align-items: center;
}

.info-item i {
    font-size: 1.2rem;
    margin-right: 15px;
}

.social-icons {
    margin-top: 100px;
}

.social-icons a {
    color: #fff;
    margin-right: 15px;
    font-size: 1.2rem;
    background: #025048;
    padding: 10px;
    border-radius: 50%;
    transition: 0.3s;
}

.social-icons a:hover {
    background: #fff;
    color: #000;
}

.contact-form {
    padding: 40px;
}

.form-control {
    border: none;
    border-bottom: 2px solid #928c8c;
    border-radius: 0;
    padding: 10px 0;
    margin-bottom: 20px;
}

.form-control:focus {
    box-shadow: none;
    border-color: #000;
}

.btn-send {
    background: #025048;
    color: #fff;
    padding: 12px 40px;
    border-radius: 5px;
    float: right;
    transition: 0.3s;
}

.btn-send:hover {
    background: #dfcccc;
    color: #fff;
}



.btn-send {
    z-index: 2;

}


.text-end img {
    margin-right: -70px;
    margin-top: 30px;
    animation: fadeInUp 1s ease-in-out;

}