:root {
  --main-color: #025048;
  --text-dark: #424b4a;
  --bg-light: #f5f6fa;
  --card-bg: #ffffff;
}

body {
  background: var(--bg-light);
  font-family: "Work Sans", sans-serif;
  color: var(--text-dark);
}



/* Header */
.header {
  background: var(--card-bg);
  padding: 15px 20px;
  border-radius: 12px;
}

.header h5 {
  font-family: "Playfair Display", serif;
  color: var(--main-color);
  margin: 0;
}

/* Cards */
.stat-card {
  background: var(--card-bg);
  padding: 20px;
  border-radius: 16px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.03);
}

.stat-card h6 {
  font-size: 14px;
  color: var(--text-dark);
  margin-bottom: 10px;
}

.stat-card h2 {
  font-family: "Playfair Display", serif;
  color: var(--main-color);
  font-size: 32px;
}

/* Charts Cards */
.card {
  border-radius: 16px;
  border: none;
}
/*

/* Main Content */
.content {
  margin-left: 240px; 
  padding: 20px;
}
