@font-face {
    font-family: 'Work-Sans';
    src: url('../Resources/Fonts/WorkSans-Regular.ttf') format('truetype');
    font-weight: 500;
}

@font-face {
    font-family: 'Playfair-Display';
    src: url('../Resources/Fonts/PlayfairDisplay-Regular.ttf') format('truetype');
    font-weight: 400;
}

::selection {
    background: #025048;
    color: white;
}

.navbar::selection{
    background: white;
    color: #025048;
}


.navbar {
    background-color: #025048;
    padding: 2rem;
    color: white;


}

.navbar-brand {
    font-family: 'Playfair-Display';
    color: white;
    font-size: 2rem;
    margin-left: 4.5rem;
}
.navbar-brand:focus{
    color: white;
}


.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler:focus-visible {
    outline: none !important;
    box-shadow: none !important;
}


.navbar-collapse {
    text-align: center;
}



.navbar-center {
    flex: 1;
    display: flex;
    justify-content: center;
}

.navbar-right {
    display: flex;
    align-items: center;
}

.nav-link {
    text-transform: uppercase;
    color: white;
    transition: all 0.4s;
}

.nav-link:hover {
    letter-spacing: 4px;
    font-weight: 600;
    color: #4F6A63
}

.navbar-brand:hover {
    color: white;
}




.hero {

    background-color: #025048;
    display: flex;
    align-items: center;
    color: white;

}

.hero-subtitle {
    font-family: 'Work-Sans';
    font-size: 1.3rem;

}

.hero-title {
    font-family: 'Playfair-Display', serif;
    font-size: 3.5rem;

}

.hero-subtitle2 {
    font-family: 'Playfair-Display', serif;
    font-size: 1.1rem;
}

.hero-image-wrapper {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}


.hero-image {
    width: 100%;
    height: auto;
    object-fit: contain;
}


/* .price {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 4px;
} */

.price-currency {
    font-size: 0.85rem;
    margin-top: 4px;
}

.price-main {
    font-weight: 700;
    font-size: 3rem;
}

.price-decimal {
    font-size: 0.9rem;
    margin-top: 4px;
}


.button-x {
    position: relative;
    color: white;
    background: transparent;
    border: 1px solid white;
    padding: 10px 24px;
    overflow: hidden;
    transition: color 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    z-index: 1;
    text-decoration: none;
}

.button-x:before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0;
    background: white;
    transition: height 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    z-index: -1;
}

.button-x:hover {
    color: #025048;

}

.button-x:hover:before {
    height: 100%;
}

.button-x:active {
    transform: scale(0.97);
}



.about {
    color: #025048;
    margin-top: 5rem;
    margin-bottom: 5rem;
    border: none;

}

.card-img-bottom {
    border-radius: 16px;

}



.usp-bar {
    background: #f5f7fa;
    padding: 5rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    justify-content: center;
    align-items: center;
    font-family: 'Work-Sans';
}

.usp-icon {
    color: #012E29;
    
    
    
}

.usp-title {
    font-weight: 600;
    font-size: 1.05rem;
    color: #012E29;
}

.usp-text {
    font-size: .9rem;
    color: #6c757d;
}
.usp-item{
    display: flex;
    align-items: center;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    

}
.usp-item i {
    color: #012E29;
    display: inline;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1.5rem 0;
}