@font-face {
    font-family: 'Work-Sans';
    src: url('../Resources/Fonts/WorkSans-Regular.ttf') format('truetype');
    font-weight: 500;
}

@font-face {
    font-family: 'Playfair-Display';
    src: url('../Resources/Fonts/PlayfairDisplay-Regular.ttf') format('truetype');
    font-weight: 400;
}

@font-face {
    font-family: 'Poppins';
    src: url("../Resources/Fonts/Poppins-Regular.ttf") format("truetype");
}

@font-face {
    font-family: 'Montserrat';
    src: url('../Resources/Fonts/Montserrat-Regular.ttf');
}


@font-face {
    font-family: 'Quizlo';
    src: url("../Resources/Fonts/Quizlo.otf");
}

::selection {
    background: #025048;
    color: white;
}

.hero *::selection {
    background: white;
    color: #025048;
}



.navbar {
    background-color: #025048;
    padding: 0.5rem;
    color: white;


}

.navbar-brand {
    font-family: 'Playfair-Display';
    color: white;
    font-size: 2rem;
    margin-left: 4.5rem;
    font-weight: bold;
    
}
.navbar-brand:focus{
    color: white;
}


.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler:focus-visible {
    outline: none !important;
    box-shadow: none !important;
}


.navbar-collapse {
    text-align: center;
}



.navbar-center {
    flex: 1;
    display: flex;
    justify-content: center;
}

.navbar-right {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    margin: 1rem;
}

.nav-link {
    text-transform: uppercase;
    color: white;
    transition: all 0.4s;
}

.nav-link:hover {
    letter-spacing: 4px;
    font-weight: 600;
    color: #1E7F73;




}

.navbar-brand:hover {
    color: white;
}

.icon-wrapper{
    padding: 0.4rem;
    border-radius: 50px;
    display: flex;
    font-size: 1.3rem;
    cursor: pointer;
}
.icon-wrapper:hover{
    transform: scale(1.3);
    transition: transform 0.1s ease;
    color: #025048;
    background-color :white;
    
    
}

.hero {

    background-color: #025048;
    display: flex;
    align-items: center;
    color: white;

}



.hero-subtitle {
    font-family: 'Work-Sans';
    font-size: 1.3rem;

}

.hero-title {
    font-family: 'Playfair-Display', serif;
    font-size: 3.5rem;

}

.hero-subtitle2 {
    font-family: 'Playfair-Display', serif;
    font-size: 1.1rem;
}

.hero-image-wrapper {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}


.hero-image {
    animation: sofaEnter 1.5s ease-out forwards,
    floatSofa 6s ease-in-out infinite 1.5s;
    opacity: 0;
}

@keyframes sofaEnter {
    from {
        transform: translateX(500px);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}



/* .price {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 4px;
} */

.price-currency {
    font-size: 0.85rem;
    margin-top: 4px;
}

.price-main {
    font-weight: 700;
    font-size: 3rem;
}

.price-decimal {
    font-size: 0.9rem;
    margin-top: 4px;
}


.button-x {
    position: relative;
    color: white;
    background: transparent;
    border: 1px solid white;
    padding: 10px 24px;
    overflow: hidden;
    transition: color 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    z-index: 1;
    text-decoration: none;
}

.button-x:before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0;
    background: white;
    transition: height 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    z-index: -1;
}

.button-x:hover {
    color: #025048;

}

.button-x:hover:before {
    height: 100%;
}

.button-x:active {
    transform: scale(0.97);
}




.button-y {
    position: relative;
    color:white;
    background: #025048;
    border: 1px solid #025048;
    padding: 8px 24px;
    overflow: hidden;
    transition: color 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    z-index: 1;
    text-decoration: none;
}

.button-y:before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0;
    background:white;
    transition: height 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    z-index: -1;
}

.button-y:hover {
    color: #025048;
    border: #025048 2px solid;

}

.button-y:hover:before {
    height: 100%;
}

.button-y:active {
    transform: scale(0.97);
}



.about {
    color: #025048;
    margin-top: 5rem;
    margin-bottom: 5rem;
    border: none;

}

.card-img-bottom {
    border-radius: 16px;

}



.usp-bar {
    background: #f5f7fa;
    padding: 5rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    justify-content: center;
    align-items: center;
    font-family: 'Work-Sans';
}

.usp-icon {
    color: #012E29;
    
    
    
}

.usp-title {
    font-weight: 600;
    font-size: 1.05rem;
    color: #012E29;
}

.usp-text {
    font-size: .9rem;
    color: #6c757d;
}
.usp-item{
    display: flex;
    align-items: center;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    

}
.usp-item i {
    color: #012E29;
    display: inline;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1.5rem 0;
}











.search-bar{
    font-family: 'Poppins';
    margin: 5rem auto;
    text-align: center;
    background: white;
    height: 350px;
    padding: 2rem;

}

.search-bar input {
    width: 100%;
    max-width: 75%;
    padding: 10px 22px;
    margin: 1.5rem auto;
    display: block;
    border-radius: 40px;
    border: 1px solid rgba(0,0,0,0.12);
    background: white;
    outline: none;
    border: 2px solid;
    
}

.search-headline{
    font-size: 2.5rem;
    
}

#typing{
    color: #025048;
}
#typing::after {
    content: "|";
    animation: blink 1s infinite;
}

@keyframes blink {
    50% {
        opacity: 0;
    }
}






.testimonial{
    background-color: #f0f5f1;
    padding: 5rem 4rem;
}
.t-headline{
    font-family: 'Work-Sans';
    font-size: 1rem;
    text-transform: uppercase;
    color: #025048;
    font-weight: 600;
    letter-spacing: 0.3rem;
}
.t-subtitle{
    font-family: 'PlayFairDisplay';
    font-size: 3rem;
    color: #025048;
}

.rating{
    display: block;
    color: #FB8C24;
}
.r-div {
    display: flex;
    align-items: center;   
    gap: 12px;             
    padding: 12px 16px;
    border-radius: 8px;
    width: fit-content;
}

.r-photo {
    width: 48px;
    height: 48px;
    border-radius: 50%;    
    object-fit: cover;
}

.r-text {
    display: flex;
    flex-direction: column;
}

.r-name {
    font-weight: 600;
    font-size: 16px;
    color: #025048;
    font-family: 'Montserrat';
}

.r-role {
    font-size: 14px;
    color: #424b4a;
    font-family: 'Work-Sans';
}
.card-text{
    color:#424b4a;
}





.prds{
    
    margin: 3rem auto;
    
}
.card{
    border: none;
}
.prd-card-title{
    font-family: 'Montserrat';
}
.prd-card-text{
    font-family: 'Work-Sans';
}
